@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Team Sauce</title>
        <link href="@Url.Content("/Content/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/site.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.js")"></script>
    </head>
    <body>
        <div id="loginOverlay" style="background-color: #006400;">
            <h2>Login</h2>

            <input type="text" id="username"/>
            <input type="password" id="password"/>

            <input type="button" id="log-in"/>
        </div>
        <div class="row">
            <div class="col-md-8">
                @{ Html.RenderPartial("_Graphs"); }
            </div>
            <div class="col-md-4">
                @{ Html.RenderPartial("_HackInformation"); }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @{ Html.RenderPartial("_TeamChat"); }
            </div>
            <div class="col-md-4">
                @{ Html.RenderPartial("_Activity"); }
            </div>
            <div class="col-md-4">

                @{ Html.RenderPartial("_SponsorChat"); }
            </div>
        </div>
        
        @{ Html.RenderPartial("_Questionnaire"); }
        
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.js")"></script>
        <script src='/signalr/js'></script>
        <script src="@Url.Content("~/Scripts/ui-bootstrap-tpls-0.6.0.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.raty.min.js")"></script>
        <script src="@Url.Content("~/Scripts/LoginR.js")"></script>
        <script src="@Url.Content("~/Scripts/SponsorChatR.js")"></script>
        <script src="@Url.Content("~/Scripts/teamsauce.js")"></script>

        <script type="text/javascript">
            var proxy = $.connection.teamSauceHub;

            var init_LoginR = function () {
                $("#log-in").click(function () {
                    var name = $('#username').val();
                    var password = $('#password').val();
                    proxy.server.logIn(name, password);
                });
            };

            proxy.client.completed = function (connectionId) {
                alert(connectionId);
                init_SponsorChatR();
                init_QuestionnaireR();
            };

            proxy.client.loginFailed = function (connectionId) {
                alert('Fail ' + connectionId);
            };

            var init_SponsorChatR = function () {

                $("#send-sponsor-message").click(function () {
                    var body = $('#sponsor-message').val();
                    proxy.server.messageReceived(body);
                });

                proxy.server.getMessages();
            };

            proxy.client.messagesLoaded = function (messages) {
                alert('Messages Returned' + messages + ':' + messages.length);
                for (var idx = 0; idx < messages.length; idx++) {
                    if (messages[idx].MessageType == 'Sponsor') {
                        $('#sponsor-feed').append('<li>' +
                                         '<span class="name">' + messages[idx].Sender + '</span>' +
                                         '<span class="body">' + messages[idx].Message + '</span>' +
                                         '<time>' + messages[idx].Time + '</time>' +
                                         '</li>');
                    } else {
                        $('#sponsor-feed').append('<li>' +
                                        '<span class="name">' + messages[idx].Sender + '</span>' +
                                        '<span class="body">' + messages[idx].Message + '</span>' +
                                        '<time>' + messages[idx].Time + '</time>' +
                                        '</li>');
                    }
                }
            };

            proxy.client.userMessage = function (message) {
                $('#sponsor-feed').append('<li>' +
                    '<span class="name">' + message.Sender + '</span>' +
                    '<span class="body">' + message.Message + '</span>' +
                    '<time>' + message.Time + '</time>' +
                    '</li>');
            };

            proxy.client.sponsorMessage = function (message) {
                $('#sponsor-feed').append('<li>' +
                    '<span class="name">' + message.Sender + '</span>' +
                    '<span class="body">' + message.Message + '</span>' +
                    '<time>' + message.Time + '</time>' +
                    '</li>');
            };

            var answers = [];
            var questionnaireId;
            
            var init_QuestionnaireR = function() {
                $('#submitQuestionnaire').click(function () {
                    var questionnaireResponse = {
                        ratings: answers
                    };

                    proxy.server.complete(questionnaireId, JSON.stringify(questionnaireResponse));
        
                    answers = [];
                    questionnaireId = undefined;
                    $('#mymodal').modal('hide');
                });
            };
            
            proxy.client.sentOutQuestionnaire = function (questionnaire) {
                questionnaireId = questionnaire.id;
                
                $.each(questionnaire.categoryQuestions, function(index, value) {
                    $('#questions').append('<div class="question" ng-repeat="question in questions">' +
                        '<span class="glyphicon glyphicon-record"></span><span>' + value.text + 
                        '</span><div class="star" data-category=' + value.category + '"/></div>');
                });

                $('#mymodal').modal('show');
                
                $('.star').raty({
                    'click': function (score) {
                        answers.push({
                            category: $(this).attr('data-category'),
                            value: score
                        });
                    }
                });
            };
            
            $.connection.hub.start().done(function() {
                init_LoginR();
            });
        </script>
    </body>
</html>
