@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Team Sauce</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link href="@Url.Content("/Content/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/site.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.js")"></script>
    </head>
    <body>
        <div class="container">
            <div id="loginOverlay" style="background-color: #006400;">
                <h2>Login</h2>

                <input type="text" id="username"/>
                <input type="password" id="password"/>

                <input type="button" id="log-in"/>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @{ Html.RenderPartial("_Graphs"); }
                </div>
                <div class="col-md-4">
                    @{ Html.RenderPartial("_HackInformation"); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @{ Html.RenderPartial("_TeamChat"); }
                </div>
                <div class="col-md-4">
                    @{ Html.RenderPartial("_Activity"); }
                </div>
                <div class="col-md-4">

                    @{ Html.RenderPartial("_SponsorChat"); }
                </div>
            </div>
        </div>
        
        @{ Html.RenderPartial("_Questionnaire"); }
        
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.js")"></script>
        <script src='/signalr/js'></script>
        <script src="@Url.Content("~/Scripts/jquery.raty.min.js")"></script>
        <script src="@Url.Content("~/Scripts/LoginR.js")"></script>
        <script src="@Url.Content("~/Scripts/SponsorChatR.js")"></script>
        <script src="@Url.Content("~/Scripts/moment.js")"></script>
        <script src="@Url.Content("~/Scripts/main-signalr.js")"></script>
    </body>
</html>
