@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Team Sauce</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link href="@Url.Content("/Content/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Url.Content("/Content/site.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.js")"></script>
    </head>
    <body>
        @{ Html.RenderPartial("_loginArea");}

        <div id="app" style="display: none;">
            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">TeamSauce</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a id="logout" href="#">Log out</a></li>
                       
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div><!-- /.container -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        @{ Html.RenderPartial("_Graphs"); }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @{ Html.RenderPartial("_TeamChat"); }
                    </div>
                    <div class="col-md-4">
                        @{ Html.RenderPartial("_Activity"); }
                    </div>
                    <div class="col-md-4">
                        @{ Html.RenderPartial("_SponsorChat"); }
                    </div>
                </div>
            </div>
        
            @{ Html.RenderPartial("_Questionnaire"); }
        </div>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.js")"></script>
        <script src='/signalr/js'></script>
        <script src="@Url.Content("~/Scripts/jquery.raty.min.js")"></script>
        <script src="@Url.Content("~/Scripts/LoginR.js")"></script>
        <script src="@Url.Content("~/Scripts/SponsorChatR.js")"></script>
        <script src="@Url.Content("~/Scripts/moment.js")"></script>
        <script src="@Url.Content("~/Scripts/main-signalr.js")"></script>
    </body>
</html>
